<template>
	<div class="home">
		<h1 class="caption grey--text">Homepage</h1>
		<v-container class="my-5">
			<v-layout class="my-5">
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn text class="grey--text caption" @click="sortBy('title')" v-on="on">
							<v-icon>mdi-folder</v-icon>
							<span class="ml-3">by project name</span>
						</v-btn>
					</template>
					<span>Sort by project name</span>
				</v-tooltip>
				<v-tooltip top>
					<template v-slot:activator="{ on }">
						<v-btn
							text
							class="grey--text caption"
							@click="sortBy('person')"
							v-on="on"
						>
							<v-icon>mdi-account</v-icon>
							<span class="ml-3">by person</span>
						</v-btn>
					</template>
					<span>Sort by person</span>
				</v-tooltip>
			</v-layout>
			<v-card flat v-for="project in projects" :key="project.title">
				<v-layout :class="`pa-3 project ${project.status}`">
					<v-flex xs12 md6>
						<div class="caption grey--text">Project title</div>
						<div>{{ project.title }}</div>
					</v-flex>
					<v-flex xs6 sm4 md2>
						<div class="caption grey--text">Person</div>
						<div>{{ project.person }}</div>
					</v-flex>
					<v-flex xs6 sm4 md2>
						<div class="caption grey--text">Due by</div>
						<div>{{ project.due }}</div>
					</v-flex>
					<v-flex xs2 sm4 md2>
						<div>
							<v-chip small :class="`${project.status} white--text caption`">{{
								project.status
							}}</v-chip>
						</div>
					</v-flex>
				</v-layout>
				<v-divider></v-divider>
			</v-card>
		</v-container>
	</div>
</template>

<script>
export default {
	data: () => {
		return {
			projects: [
				{
					title: 'Design a portofolio website',
					person: 'Novan Kuncoro',
					due: 'Thursday, 14 May 2020',
					status: 'overdue',
					content: 'little content...',
				},
				{
					title: 'Design a company profile website',
					person: 'Novan Kuncoro',
					due: 'Monday, 18 May 2020',
					status: 'ongoing',
					content: 'little content...',
				},
				{
					title: 'Prepare trip to Japan',
					person: 'Alberta Yudea',
					due: 'Monday, 18 May 2020',
					status: 'completed',
					content: 'little content...',
				},
				{
					title: 'Film epic B-Roll!',
					person: 'Novan Kuncoro',
					due: 'Thursday, 24 May 2020',
					status: 'ongoing',
					content: 'little content...',
				},
				{
					title: 'Record song, "Everything I Need"',
					person: 'Novan Kuncoro',
					due: 'Tuesday, 19 May 2020',
					status: 'ongoing',
					content: 'little content...',
				},
			],
		}
	},
	methods: {
		click: () => {
			alert('Click')
		},
		sortBy(prop) {
			//use normal function if you need to refer the Vue instace with 'this' property.
			this.projects.sort((a, b) => (a[prop] < b[prop] ? -1 : 1))
		},
	},
	computed: {},
}
</script>

<style>
.project.ongoing {
	border-left: solid 4px #3da5d1;
}
.project.overdue {
	border-left: solid 4px #ef3b49;
}
.project.completed {
	border-left: solid 4px #d2cd4b;
}
.v-chip.ongoing {
	background: #3da5d1 !important;
}
.v-chip.overdue {
	background: #ef3b49 !important;
}
.v-chip.completed {
	background: #d2cd4b !important;
}
</style>
