<template>
	<div class="projects">
		<h1 class="caption grey--text">My Project</h1>
		<v-container class="my-5">
			<v-expansion-panels flat>
				<v-expansion-panel v-for="project in myProjects" :key="project.name">
					<v-expansion-panel-header>
						<div class="title font-weight-light">{{ project.title }}</div>
					</v-expansion-panel-header>
					<v-expansion-panel-content>
						<p class="caption font-italic ">Time left until {{ project.due }}</p>
						<p class="body-1">{{ project.content }}</p>
					</v-expansion-panel-content>
					<v-divider></v-divider>
				</v-expansion-panel>
			</v-expansion-panels>
		</v-container>
	</div>
</template>

<script>
export default {
	data: () => {
		return {
			projects: [
				{
					title: 'Design a portofolio website',
					person: 'Novan Kuncoro',
					due: 'Thursday, 14 May 2020',
					status: 'overdue',
					content: 'little content...',
				},
				{
					title: 'Design a company profile website',
					person: 'Novan Kuncoro',
					due: 'Monday, 18 May 2020',
					status: 'ongoing',
					content: 'little content...',
				},
				{
					title: 'Prepare trip to Japan',
					person: 'Alberta Yudea',
					due: 'Monday, 18 May 2020',
					status: 'completed',
					content: 'little content...',
				},
				{
					title: 'Film epic B-Roll!',
					person: 'Novan Kuncoro',
					due: 'Thursday, 24 May 2020',
					status: 'ongoing',
					content: 'little content...',
				},
				{
					title: 'Record song, "Everything I Need"',
					person: 'Novan Kuncoro',
					due: 'Tuesday, 19 May 2020',
					status: 'ongoing',
					content: 'little content...',
				},
			],
		}
	},
	computed: {
		myProjects() {
			return this.projects.filter((project) => {
				return project.person === 'Novan Kuncoro'
			})
		},
	},
}
</script>
