<template>
	<div class="team">
		<h1 class="caption grey--text">Team</h1>
		<v-container class="my-5">
			<v-layout row wrap>
				<v-flex xs12 sm6 md4 lg3 v-for="person in team" :key="person.name">
					<v-card flat class="ma-2 text-center">
						<v-responsive class="pt-4">
							<v-avatar color="primary" size="62">
								<span class="white--text">{{ person.avatar }}</span>
							</v-avatar>
						</v-responsive>
						<v-card-text>
							<div class="subtitle-1">{{ person.name }}</div>
							<div class="grey--text">{{ person.role }}</div>
						</v-card-text>
						<v-card-actions class="d-flex justify-center">
							<v-btn text class="grey--text">
								<v-icon left>mdi-message</v-icon>
								<span>Message</span>
							</v-btn>
							<v-btn text class="grey--text">
								<v-icon left>mdi-phone</v-icon>
								<span>Call</span>
							</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	</div>
</template>

<script>
export default {
	data: () => {
		return {
			team: [
				{ name: 'Novan Kuncoro', role: 'Hard Worker Husband', avatar: 'NK' },
				{ name: 'Alberta Yudea', role: 'Wife Supports', avatar: 'AY' },
			],
			showSnackbar: true,
		}
	},
}
</script>
