<template>
	<nav>
		<v-app-bar app flat>
			<v-app-bar-nav-icon @click="showDrawer = !showDrawer" class="grey--text">
				<v-icon>mdi-menu</v-icon>
			</v-app-bar-nav-icon>
			<h1 class="text-uppercase grey--text">
				<span class="font-weight-light">Todo</span>
				<span class="font-weight-medium">Novan</span>
			</h1>
			<v-spacer></v-spacer>
			<v-btn text class="text-uppercase grey--text">Sign out →</v-btn>
		</v-app-bar>
		<v-navigation-drawer v-model="showDrawer" app class="primary">
			<v-layout column align-center>
				<v-flex class="mt-5 text-center">
					<v-avatar color="white" size="100">
						<span class="display-1">NK</span>
					</v-avatar>
					<p class="headlines mt-4 white--text">Novan Kuncoro</p>
				</v-flex>
			</v-layout>
			<v-list>
				<v-list-item
					v-for="link in links"
					:key="link.title"
					router
					:to="link.route"
				>
					<v-list-item-icon>
						<v-icon color="white">{{ link.icon }}</v-icon>
					</v-list-item-icon>
					<v-list-item-content>
						<v-list-item-title class="white--text">{{
							link.title
						}}</v-list-item-title>
					</v-list-item-content>
				</v-list-item>
			</v-list>
		</v-navigation-drawer>
	</nav>
</template>

<script>
export default {
	data: () => {
		return {
			showDrawer: false,
			links: [
				{ icon: 'mdi-view-dashboard', title: 'Dashboard', route: '/' },
				{ icon: 'mdi-folder', title: 'My Projects', route: '/projects' },
				{ icon: 'mdi-account', title: 'Team', route: '/team' },
			],
		}
	},
}
</script>
